{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}                    

{% block main %}
    <h3> Create a new channel or join an existing one! </h3>
    <form action="/create" method="POST"> 
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="channel" data-channel="channel" name="channel" placeholder="channel name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>

    <script>
        if(localStorage.getItem('last_channel')){
            let channel=localStorage.getItem('last_channel');
            window.location.replace('/channels/'+channel);
        }

    </script>


{% endblock %}